/*
    all.less - Aggregate all stylesheets (esp-html-mvc)
 */

/*
    Angular cloak fix. Must load before loading less sheets
 */

[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}

/*
    app.less - Default ESP angular-mvc style sheet.
 */

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #222233;
  background-color: #ffffff;
}

main.container .content {
  padding-left: 20px;
  background: white;
}

.navbar {
  position: relative;
  z-index: 1000;
  min-height: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  background-color: #222222;
  border: 1px solid transparent;
  border-color: #080808;
}

.navbar .navbar-header {
  width: 200px;
}

.navbar .navbar-brand {
  float: left;
  width: 200px;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.col-md-10 {
  width: 70%;
}

.form-group {
  margin-bottom: 15px;
}

.control-label {
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) rgba(0, 0, 0, 0.1);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: all border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s ease-out;
     -moz-transition: all border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s ease-out;
       -o-transition: all border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s ease-out;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: all border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s ease-out;
}

.has-error .form-control {
  border: 2px solid #ff0000 !important;
}

.has-error .field-error {
  position: relative;
  top: -35px;
  left: 100%;
  margin-left: 40px;
  font-weight: bold;
  color: #ff0000;
  background-color: #FFF;
}

.feedback {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2000;
  width: 500px;
  height: 31px;
  padding: 8px 3px 3px 3px;
  margin: 0 0 0 -250px;
  color: white;
  text-align: center;
}

.feedback:empty {
  display: none;
}

.feedback-error {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2000;
  width: 500px;
  height: 31px;
  padding: 8px 3px 3px 3px;
  margin: 0 0 0 -250px;
  font-weight: bold;
  color: white;
  text-align: center;
  background: #FF0000;
}

.feedback-error:empty {
  display: none;
}

.feedback-warning {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2000;
  width: 500px;
  height: 31px;
  padding: 8px 3px 3px 3px;
  margin: 0 0 0 -250px;
  color: white;
  text-align: center;
}

.feedback-warning:empty {
  display: none;
}

.feedback-inform {
  position: absolute;
  top: 0;
  top: -100px;
  left: 50%;
  z-index: 2000;
  width: 500px;
  height: 31px;
  padding: 8px 3px 3px 3px;
  margin: 0 0 0 -250px;
  color: white;
  text-align: center;
  opacity: 0;
}

.feedback-inform:empty {
  display: none;
}

.feedback-inform.animate {
  -webkit-animation: feedback-transition ease-in 10s;
}

.table-bordered,
td,
th {
  padding: 5px;
  border: 1px solid #DDDDDD;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
}

table th {
  text-align: left;
}

@-webkit-keyframes feedback-transition {
  0% {
    top: 0;
    opacity: 1.0;
  }
  80% {
    top: 0;
    opacity: 1.0;
  }
  90% {
    top: 0;
    opacity: 0.5;
  }
  100% {
    top: -100px;
    opacity: 0.0;
  }
}

[ng-click],
[esp-click],
[onclick] {
  cursor: pointer;
}

/*
    theme.less - Application theme variables
 */

/*
    Create a local.less and override anything above.
    @import "local.less";
 */
